alias ga='git add'
alias gr='git rm'
alias gd='git diff'
alias gco='git checkout'
alias push='git push'
alias pull='git pull'
alias fetch='git fetch'
alias gs='git status'
alias gc='git commit'
alias gcm='git commit -m'
alias gb='git branch'
alias ll='ls -al'
alias dotfiles='cd $HOME/Projects/dotfiles'

alias soundrestart='sudo launchctl stop com.apple.audio.coreaudiod && sudo launchctl start com.apple.audio.coreaudiod'
alias dcu='docker compose up'
alias dcd='docker compose down'

alias nosleep='caffeinate -disu &'

alias vim='nvim'
alias vi='nvim'

