.DS_Store
.gitconfig
.zshrc_custom

*.zwc

.config/nvim/lazyvim.json
.config/git
.config/github-copilot
.config/fn_custom.zsh

.local/share/nvim
.local/state/nvim
.local/state/pnpm

CLAUDE.md
.local/bin/uv
.local/bin/uvx
.config/uv
.config/raycast
.config/configstore/update-notifier-@google
.config/gh
.local/share/delta
.local/state/gh
.luarc.json
.local/bin/claude
.local/share/claude/versions
