" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader ="\<Space>"
imap jk <Esc>

set nu
set relativenumber

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

map <leader>w <C-w>

map <leader>fm <Action>(ReformatCode)
map <leader>fs <Action>(SearchEverywhere)
map <leader>ff <Action>(GotoFile)

map d[ <Action>(GotoPreviousError)
map d] <Action>(GotoNextError)

map c[ <Action>(VcsShowPrevChangeMarker)
map c] <Action>(VcsShowNextChangeMarker)

map <Tab> <Action>(NextTab)
map <S-Tab> <Action>(PreviousTab)

map <leader>ca <Action>(ShowIntentionActions)

map <leader>/ <Action>(CommentByLineComment)

map <C-n> <Action>(ActivateProjectToolWindow)

map { <C-u>zz
map } <C-d>zz

imap <C-s> <Esc>:w<CR>
nmap <C-s> :w<CR>

map <leader>f <Action>(ShowErrorDescription)

map <leader>ra <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)

map N Nzz
map n nzz

